p, h1, h2, h3{
        font-family: Verdana;
}

/* The sidebar menu */
.side-bar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  bottom: 0;
  right: 0;
  background-color: #739CC6; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  text-align: center;
  padding-left: -20px;
}
.top-bar {
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #739CC6;
  text-align: center;
  border-bottom-left-radius: 30px;
}

/* The navigation menu links */
.side-bar p {
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  font-size: 13px;
  border-style: solid;
  margin-left: 0px;

  /*display: block;*/
}

/* When you mouse over the navigation links, change their color */
.side-bar p:hover {
  color: #f1f1f1;

}

.side-bar:hover {
  background-color: #4B6F93;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

#degree-selector div{
  float: left;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .side-bar {padding-top: 15px;}
  .side-bar p {font-size: 18px;}
}